<!-- <div class="container">
  <div class="row mt-3">
    <div class="col-12 col-lg-5 offset-lg-4">
      <mat-card class="text-center">
        <mat-card-header>
          <mat-card-title>Login</mat-card-title>
          <img
            mat-card-avatar
            src="assets/images/—Pngtree—blockchain golden bitcoin_6068577.png"
            alt=""
          />
        </mat-card-header>
        <mat-card-content>
          <form #loginForm="ngForm" class="mt-3" (ngSubmit)="onLogin(email, password)">
            <p>
              <mat-form-field class="w-75 mt-2" appearance="outline">
                <mat-label>Email</mat-label>
                <input
                  email
                  ngModel
                  matInput
                  required
                  id="email"
                  name="email"
                  type="email"
                  #email="ngModel"
                />
                <mat-error *ngIf="email.invalid && email.errors?.['required']">Email is <strong>required</strong></mat-error>
                <mat-error *ngIf="email.invalid && email.errors?.['email']">Please enter a valid email adress</mat-error>

              </mat-form-field>
              <mat-form-field class="w-75 mt-2" appearance="outline">
                <mat-label>Password</mat-label>
                <input
                  ngModel
                  matInput
                  required
                  minlength="5"
                  id="password"
                  name="password"
                  type="password"
                  autocomplete="new-password"
                  #password="ngModel"
                />
                <mat-error *ngIf="password.invalid && password.errors?.['required']">Password is <strong>required</strong></mat-error>
                <mat-error *ngIf="password.invalid && password.errors?.['minlength']">Password should be at least 5 characters long</mat-error>
              </mat-form-field>
              <br>
              <button type="submit" color="primary" mat-raised-button [disabled]="loginForm.invalid">Login</button>
            </p>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div> -->



<div class="displayTable">
  <div class="displayTableCell">
    <div class="authBlock">
      <h3>Sign In</h3>
      <div class="formGroup">
        <input type="text" class="formControl" placeholder="Username" #userName required>
      </div>
      <div class="formGroup">
        <input type="password" class="formControl" placeholder="Password" #userPassword required>
      </div>
      <!-- Calling SignIn Api from AuthService -->
      <div class="formGroup">
        <input type="button" class="btn btnPrimary" value="Log in" (click)="authService.SignIn(userName.value, userPassword.value)">
      </div>
      <div class="formGroup">
        <span class="or"><span class="orInner">Or</span></span>
      </div>
      <!-- Calling GoogleAuth Api from AuthService -->
      <div class="formGroup">
        <button type="button" class="btn googleBtn" (click)="authService.GoogleAuth()">
          <i class="fab fa-google-plus-g"></i>
          Log in with Google
        </button>
      </div>
      <div class="forgotPassword">
        <span routerLink="/forgot-password">Forgot Password?</span>
      </div>
    </div>
    <div class="redirectToLogin">
      <span>Don't have an account?<span class="redirect" routerLink="/register-user"> Sign Up</span></span>
    </div>
  </div>
</div>
